#app {
  --col-count: 40;
  display: grid;
  min-width: max(20em, 80%);
  overflow: hidden;
  grid-template-columns: repeat(var(--col-count), 1fr);
}

@media only screen and (min-width: 160em) {
  #app {
    --col-count: 50;
    min-width: 48em;
  }
}
@media only screen and (max-width: 48em) {
  #app {
    --col-count: 10;
    margin-top: 2.7em;
  }
}
@media only screen and (max-width: 27em) {
  #app {
    --col-count: 5;
  }
}
@media only screen and (max-width: 20em) {
  #app {
    --col-count: 2;
    min-width: 15em;
  }
}

h1 > span,
h4 {
  color: transparent;
  background-image: linear-gradient(
    to right,
    #3b44e6 0,
    #535bf2 30%,
    #09faba 100%
  );
  background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

h4 {
  line-height: 0.8;
}

#get-started-btn {
  position: relative;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  justify-self: center;
  margin-top: 2em;
}
#get-started-btn:focus {
  outline: 0;
  border: 0;
}
#get-started-btn::after,
#get-started-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
#get-started-btn:before {
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  opacity: 0.5;
  filter: blur(1.875em);
  transform: translateX(-100px) skewX(-15deg);
}
#get-started-btn::after {
  background: rgba(255, 255, 255, 0.2);
  width: 1.875em;
  height: 100%;
  left: 1.875em;
  opacity: 0;
  filter: blur(0.3125em);
  transform: translateX(-6.25em) skewX(-15deg);
}

#get-started-btn:hover {
  background: #000000;
  cursor: pointer;
  box-shadow: 0 0 2em 0.125em #535bf249;
}
#get-started-btn:hover:before {
  transform: translateX(18.75em) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}
#get-started-btn:hover:after {
  transform: translateX(18.75em) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

#app {
  margin-block: 4.8em;
}

.tile-container {
  padding: 0.125em;
}
.tile {
  height: 1em;
  border-radius: 0.125em;
  background-color: rgb(95, 95, 95);
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.tile-loading {
  position: relative;
}
.tile-loading::after,
.tile-loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.tile-loading::before {
  background: rgba(255, 255, 255, 0.5);
  width: 3.78em;
  height: 100%;
  opacity: 0.5;
  filter: blur(0.432em);
  transform: translateX(-100%) skewX(-15deg);
  animation: loading-after 2.8s ease-in-out;
}
.tile-loading::after {
  background: rgba(255, 255, 255, 0.2);
  width: 5%;
  height: 100%;
  left: 1.875em;
  opacity: 0;
  filter: blur(0.432em);
  transform: translateX(-100%) skewX(-15deg);
  animation: loading-after 2.4s ease-in-out;
}

@keyframes loading-before {
  0% {
  }
  100% {
    transform: translateX(calc(1400% + 320px)) skewX(-15deg);
    opacity: 0.6;
  }
}

@keyframes loading-after {
  0% {
  }
  100% {
    transform: translateX(calc(1400% + 320px)) skewX(-15deg);
    opacity: 1;
  }
}

#copyright {
  position: fixed;
  bottom: -2.5em;
  right: 0;
  float: right;
  display: flex;
  min-width: 5em;
  justify-content: flex-end;
  background-color: #09faba;
  color: #000;
  padding: 0.4em 0.867em 0.25em 2em;
  min-height: 4.5em;
  border-top-left-radius: 3em;
  transition: bottom ease-in-out 300ms, box-shadow ease-in-out 300ms;
  cursor: pointer;
  border: 1px solid #09faba;
}

#copyright:hover {
  bottom: 0;
  box-shadow: 0 0 16px 8px #0000002f, 0 0 16px 0 #09faba,
    inset 0 0 16px 0 #60ffd5;
}

html {transition: background ease-out 300ms;}

html.rgb--mode {
  /* background-color: #242424; */
  background: linear-gradient(-45deg, #212121, #09faba, #3b44e6, #f58442);
  background-size: 400% 400%;
  animation: alternate infinite rgb_mode 2s ease-in-out;
}

@keyframes rgb_mode {
  20% {
    background-position: 0% 50%;
  }
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
